---
---

body {
  padding-top : 36px;
}

$slope-green: #5cb85c;

.slope-indicator {
  display:inline-block;
  width: 18px;
  height: 18px;
  background-color: $slope-green;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  vertical-align: middle;
}

#path li {
  line-height: 24px;
  vertical-align: middle;
  text-transform: lowercase;
}

#path {
  height: 600px;
  overflow: hidden;
}

#path ul {
  height: 572px;
  overflow: scroll;
}