---
---

$slope-green: #5cb85c;

.slope-indicator {
  display:inline-block;
  width: 24px;
  height: 24px;
  background-color: $slope-green;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  vertical-align: middle;
}

#path li { line-height: 24px; }